@font-face {
  font-family: PTSans bold;
  src: url(../fonts/PTSans.ttf);
  font-weight: bold;
  font-style: bold; }

@font-face {
  font-family: PTSans Regular;
  src: url(../fonts/PTSansRegular.ttf);
  font-weight: bold;
  font-style: bold; }

body {
  margin: 0; }

/*--- NAVIGATION and LOGO ---*/
.index-header__logo-image {
  display: block;
  margin: auto; }

.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1; }

.main-nav__toggle {
  width: 23px;
  height: 21px;
  margin: 19px;
  background-image: url(../img/mobile-menu__icon.png);
  border: 0;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0; }

.index-header {
  padding-left: 20px;
  padding-right: 20px; }

.main-nav__list {
  font-family: PTSans bold;
  font-size: 18px;
  line-height: 40px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: stretch;
  padding: 0; }

a {
  text-decoration: none;
  color: white; }

.main-nav__wrapper {
  display: none; }

.active {
  display: block;
  background-image: url(../img/mobile-menu_icon-esc.png);
  background-repeat: no-repeat;
  background-color: #81b3d2; }

.site-list__item {
  background-color: #81b3d2;
  margin-bottom: 1px;
  text-align: center;
  display: block; }

.site-list__link {
  display: block;
  margin-top: 8px; }

.site-list__item--active {
  height: 55px;
  box-shadow: 0px 1px 5px 0px rgba(1, 1, 1, 0.2), 0px 1px 5px 0px rgba(255, 255, 255, 0.2) inset;
  text-shadow: 0px 1px 5px rgba(1, 1, 1, 0.2); }

.index-header__padding {
  padding-top: 224px; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

/*--- MAIN CONTENT ---*/
.about-sedona__montains {
  position: relative;
  top: -28px;
  z-index: -1; }

.text--bold {
  font-size: 21pt;
  line-height: 10pt;
  color: black;
  font-family: PTSans bold;
  text-align: center;
  white-space: pre-line;
  padding-left: 20px;
  padding-right: 20px; }

.text--regular {
  font-size: 14pt;
  line-height: 21pt;
  color: 4f4f4f;
  font-family: PTSans Regular;
  text-align: center;
  white-space: pre-line;
  padding-right: 20px;
  padding-left: 20px; }

/*--- ADVANTEGES ---*/
.advanteges-table__background-cut {
  position: relative;
  top: 23px; }

.advanteges-table {
  white-space: pre-line; }

.advanteges-table__block {
  display: block; }

.advanteges-table__listing--blue {
  background-color: #81b3d2;
  padding-bottom: 20px;
  padding-top: 40px; }

.advanteges-table__text--white-head {
  color: white; }

.advanteges-table__text--white {
  color: white; }

tbody {
  display: flex;
  flex-direction: column; }

.advanteges-table {
  border-spacing: 0; }

.advanteges-table__text--right_side {
  text-align: left; }

.advantages-icon {
  position: relative;
  margin-right: 15px;
  padding-left: 5px;
  top: 10px; }

.advanteges-table__text--right-padding {
  padding-left: 80px; }

.advanteges-table__bridge {
  margin-top: -20px; }

.advanteges-table__listing--gray-background {
  background-color: #eeeeee; }

.about-sedona__text {
  font-size: 18pt;
  line-height: 26pt; }

.advanteges-table__grey-line {
  display: block;
  margin: auto; }

.advanteges-table__block--grey-line {
  display: block; }

/*--- BUTTON AND MAP ---*/
.button {
  background-color: #81b3d2;
  display: block;
  margin: auto;
  margin-bottom: 50px;
  border: none;
  height: 60px; }

.text--line-height-26 {
  line-height: 26px; }

/*--- FOOTER AND SOCIAL NETWORKS ---*/
.index-footer__hashtag {
  font-family: PTSans bold;
  font-size: 21pt;
  line-height: 26pt;
  color: black;
  text-align: center; }

.socal-networks {
  list-style-type: none;
  display: flex; }

.index-footer__copyright {
  font-size: 14pt;
  line-height: 26pt;
  font-family: PTSans bold;
  text-align: center; }

.index-footer_copyright--wrapper {
  display: flex;
  flex-direction: column; }

.copyright_icon {
  display: block;
  margin: auto; }

/*--- TABLET ---*/
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none; }
  .main-nav__wrapper {
    display: block; }
  .main-nav__list {
    flex-direction: unset;
    justify-content: space-around;
    font-size: 14pt;
    line-height: 26pt; }
  .site-list__link {
    color: black; }
  .site-list__item--active {
    box-shadow: none;
    text-shadow: none; }
  .site-list__item {
    background-color: white; }
  .site-list__item-flex3 {
    position: relative;
    left: 40px; }
  .site-list__item-flex2 {
    position: relative;
    right: 40px; }
  .advanteges-table__background-cut {
    display: none; }
  .text--regular {
    white-space: normal;
    font-size: 14pt;
    line-height: 21pt; }
  .text--bold {
    white-space: normal;
    font-size: 21pt;
    line-height: 26pt; }
  tbody {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0; }
  .advanteges-table {
    margin-top: 50px; }
  .advanteges-table__listing-flex1 {
    width: 33%;
    height: 256px; }
  .advanteges-table__listing-flex2 {
    width: 67%;
    white-space: normal;
    height: 256px; }
  .advanteges-table__listing-flex3 {
    width: 33%;
    padding-top: 50px;
    padding-bottom: 40px; }
  .advanteges-table__text--right_side {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 20px; }
  .advantages-icon {
    margin-right: 0;
    padding-left: 0px;
    top: 0;
    padding-bottom: 30px; }
  .advanteges-table__listing-flex4 {
    width: 33%;
    padding: 0; }
  .advanteges-table__listing--blue {
    padding: 0; }
  .advanteges-table__bridge {
    margin: 0; }
  .advanteges-table__photo {
    display: contents; }
  .advanteges-table__listing-flex4 {
    width: 34%; }
  .advanteges-table__listing-flex5 {
    width: 32%; } }
