@font-face {
  font-family: PTSans bold;
  src: url(../fonts/PTSans.ttf);
  font-weight: bold;
  font-style: bold; }

@font-face {
  font-family: PTSans Regular;
  src: url(../fonts/PTSansRegular.ttf);
  font-weight: bold;
  font-style: bold; }

body {
  margin: 0;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.3); }

/*--- NAVIGATION and LOGO ---*/
.index-header__logo-image {
  display: block;
  margin: auto; }

.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1; }

.main-nav__toggle {
  display: block;
  position: absolute;
  width: 30px;
  height: 22px;
  right: 20px;
  top: 20px;
  outline: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1; }

.main-nav__toggle:before {
  content: '';
  background-color: #81b3d2;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
  transition: all 0.3s ease 0s; }

.main-nav__toggle:after {
  content: '';
  background-color: #81b3d2;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease 0s; }

.burger-menu__span {
  background-color: #81b3d2;
  position: absolute;
  width: 100%;
  height: 4px;
  top: 9px;
  left: 0;
  transition: all 0.3s ease 0s; }

.main-nav__toggle.active {
  background-color: rgba(129, 179, 210, 0); }

.main-nav__toggle.active:before {
  transform: rotate(45deg);
  top: 9px;
  background-color: white; }

.main-nav__toggle.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
  background-color: white; }

.burger-menu__span.active {
  transform: scale(0); }

.index-header {
  padding-left: 20px;
  padding-right: 20px; }

.main-nav__list {
  font-family: PTSans bold;
  font-size: 18px;
  line-height: 40px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: stretch;
  padding: 0;
  background-color: #81b3d2; }

a {
  text-decoration: none;
  color: white; }

.main-nav__wrapper {
  top: -100%;
  position: fixed;
  width: 100%;
  transition: all 0.3s ease 0s; }

.main-nav__wrapper.active {
  top: 0;
  transition: all 0.3s ease 0s; }

.site-list__item {
  background-color: #81b3d2;
  margin-bottom: 1px;
  text-align: center;
  display: block; }

.site-list__item:hover {
  background-color: #669ec0; }

.site-list__item:active {
  background-color: #5496bd; }

site-list__link:active {
  color: #76abca; }

.site-list__link {
  display: block;
  margin-top: 8px; }

.site-list__item--active {
  height: 55px;
  box-shadow: 0px 1px 5px 0px rgba(1, 1, 1, 0.2), 0px 1px 5px 0px rgba(255, 255, 255, 0.2) inset;
  text-shadow: 0px 1px 5px rgba(1, 1, 1, 0.2); }

.index-header.active {
  padding-top: 223px;
  transition: all 0.3s ease 0s; }

.index-header {
  transition: all 0.3s ease 0s; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.desktop-header__logo-image {
  display: none; }

/*--- MAIN CONTENT ---*/
.about-sedona__wrapper {
  background-image: url(../img/back-mobile.png.jpg);
  height: 400px;
  background-position-y: bottom;
  position: relative;
  background-position-x: center;
  top: -25px;
  z-index: -1; }

.about-sedona__text {
  margin-bottom: 0; }

.advanteges-table__house {
  background-image: url("../img/Motel_mobile.jpg");
  background-position: center;
  width: 100%;
  height: 260px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px; }

.advanteges-table__listing--motel {
  word-spacing: normal;
  display: flex; }

.about-sedona__montains {
  position: relative;
  top: -28px;
  z-index: -1; }

.photo-collage__heading {
  font-family: PTSans bold;
  font-size: 14pt;
  line-height: 24pt;
  color: black; }

.photo-collage__author {
  font-family: PTSans Regular;
  font-size: 14pt;
  line-height: 24pt;
  color: #333333; }

.photo-heading {
  font-family: PTSans bold;
  font-size: 18pt;
  line-height: 26pt;
  color: black; }

.photo-heading__text {
  font-family: PTSans Regular;
  font-size: 14pt;
  line-height: 24pt;
  color: #333333; }
